.highlight {
  padding: 15px;
}

.highlight code {
  font-family: 'Fira Code';
}

body {
  width: 87.5%;
  margin-left: initial;
  margin-right: initial;
  padding-left: initial;
}

main {
  display: flex;
}

main .table-of-contents {
  flex-direction: row
}

main .contents {}

main h1 {
  color: #673ab7;
  padding: 15px;
  margin: 0px;
}

main h3 {
  color: #673ab7;
}

main h3 a {
  text-decoration: none;
  color: white;
}
