.highlight {
  padding: 15px;
}

.highlight code {
  font-family: 'Fira Code';
}

main h1 {
  color: #673ab7;
  padding: 15px;
  margin: 0px;
}

main h3 {
  color: #673ab7;
}

main h3 a {
  text-decoration: none;
  color: white;
}
